@model P_4_2_DiplomadoMVC_Crud_HTML_Helps_NoTipados.Models.Productos


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Datos Producto</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("ModificacionProducto", "Home", FormMethod.Post))
        {
            <p>
                Codigo de Producto:
                @Html.DisplayFor(model => model.Id)
                @Html.HiddenFor(model => model.Id) 
            </p>
            <p>
                Descripcion:
                @Html.TextBoxFor(model => model.Descripcion)
            </p>
            <p>
                Tipo:
                @Html.TextBoxFor(model => model.Tipo)
            </p>
            <p>
                Precio:
                @Html.TextBoxFor(model => model.Precio)
            </p>
            <p>
                <input type="submit" value="Confirmar" />
            </p>
        }
    </div>
</body>
</html>
